<form name="form">
<input type="text" name="a" id="a">
</form>
<button onclick="clickckck('asdb');">abc</button>

<script>
  function clickckck(c){
    document.getElementById('a').value = c;
  }
</script>