/* custom column sets */

.col-1-0{
  width:0%;
  padding-right: 0px;
  padding-left: 0px;
}

.col-1-1{
  width:8.33%;
}

.col-1-2{
  width:16.66%;
}

.col-1-3{
  width:25%;
}

.col-1-4{
  width:33.33%;
}

.col-1-5{
  width:41.66%;
}

.col-1-6{
  width:50%;
}

.col-1-7{
  width:58.33%;
}

.col-1-8{
  width:66.66%;
}

.col-1-9{
  width:75%;
}

.col-1-10{
  width:83.33%;
}

.col-1-11{
  width:91.66%;
}

.col-1-12{
  width:100%;
}

.col--1-0{
  width:0%;
  padding-right: 0px;
  padding-left: 0px;
}

.col--1-1{
  width:4.16%;
}

.col--1-2{
  width:8.33%;
}

.col--1-3{
  width:12.5%;
}

.col--1-4{
  width:16.66%;
}

.col--1-5{
  width:20.83%;
}

.col--1-6{
  width:25%;
}

.col--1-7{
  width:29.16%;
}

.col--1-8{
  width:33.33%;
}

.col--1-9{
  width:37.5%;
}

.col--1-10{
  width:41.66%;
}

.col--1-11{
  width:45.83%;
}

.col--1-12{
  width:50%;
}

.col--1-13{
  width:54.16%;
}

.col--1-14{
  width:58.33%;
}

.col--1-15{
  width:62.5%;
}

.col--1-16{
  width:66.66%;
}

.col--1-17{
  width:70.83%;
}

.col--1-18{
  width:75%;
}

.col--1-19{
  width:79.16%;
}

.col--1-20{
  width:83.33%;
}

.col--1-21{
  width:87.5%;
}

.col--1-22{
  width:91.66%;
}

.col--1-23{
  width:95.83%;
}

.col--1-24{
  width:100%;
}

/* custom column sets */

/*----------------- navbar_index_start ----------------------*/
.nav>li {
    position: relative;
    font-size: 18px;
    display: inline-block;
    width: 102px;
}
.navbar-nav {
  margin: -37.5px -15px;
}

.nav_calendar {
  font-size:18px;
  display:inline-block;
  width: 100%;  
  margin-left: -90px;
}
.nav_login {
  margin-left: -117px;
}
.nav_signin {
  margin-left: -29px;  
}
/*----------------- navbar_index_end ----------------------*/

/*main_page*/

/*new*/
a:hover {
  text-decoration: none;  
}
.navbar__search {
  height: 39px;
  margin: 0;
  padding-left: 5px;
  width: 96%;
  font-weight: 600;
  margin-left: 4%;
  border-radius: 35px;
  color: #57ce9b;
  margin-left: 4%;
  /*background-color: rgba(255,255,255,0);*/
  /*width: 52%;*/
  /*margin-top: 14px;*/
}

.facebook_img {
  width:22px;
  height:22px;
}
.login_facebook {
  font-size: 11px;
  border: none;
  border-radius: 45px;
  width: 36%;
  height: 40px;
  background-color: #3a5998;  
}
.login_btn {
  color: white;
  background-color: #26a69a;
  border: none;
  width: 18%;
  height: 40px;
  border-radius: 26px;
  margin-top: 2%;
  margin-left: -18%;
}
.login_id {
  margin-bottom: 14px;
  border-radius: 100px;
  height: 40px;
  width: 61%;
  margin-left: -18%;
  border: none;
  background-color:#c8e6c9;
}
.login_psw {
  border-radius: 35px;
  height: 40px;
  width: 61%;
  margin-left: -18%;
  border: none;
  background-color:#c8e6c9;
}

.span_signup {
  margin-left: 24%;
  font-size: 16px;
  color: white;
  border-bottom: 1px solid white;
}
.p_login {
  margin-top: 16%;
  margin-left: -19%;
  color: white;
  font-size: 40px;
  margin-bottom: 22px;
}
.bongsa_img_title {
  color: black;
  font-size: 27px;
  margin-top: 39px;
}
.dday_btn {
  border: none;
  font-size: 14px;
  border-radius: 15px;
  width:10%;
  color: white;
  background-color: #57ce9b;
}
.term_btn {
  border: none;
  font-size: 14px;
  border-radius: 28px;
  width: 12%;
  color: white;
  background-color: #ff5252; 
}
.bongsa_choice {
  border: none;
  width: 22%;
  height: 28px;
  background-color: #60c0c8;
  color: white;
  border-radius: 35px;
  margin-right: 12px;
}

.bongsa_apply {
  border: none;
  width: 25%;
  height: 28px;
  background-color: #60c0c8;
  color: white;
  border-radius: 35px;
  margin-right: 12px;  
}
.bongsa_img {
  width: 250px;
  height:200px;
  margin-left: -12%;
}
.bongsa_sub_inform {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #209797;
}
.bongsa_sub_inform_confirm {
  margin-top: 0px;
  margin-bottom: 26px;
}
.ic_bongsa_inform {
  width: 48px;
  height: 48px;  
}
.bongsa_intro {
  color: #808080;  
}
.bongsa_sub {
  color: #808080;
  margin-left: 85px;
}
.bongsa_sub_confirm {
  color: #808080;
  margin-left: 40px;
}
/*new*/



.header {
  height: 542px; 
}
select {
  width: 111%;
  margin-left: -19%; 
}
.ic_search {
  background-color: #26a69a;
  border: none;
  width: 100%;
  height: 36px;
  border-radius: 25px; 
}

.ic_calendar {
  background-color: #4caf50;
  border: none;
  width: 100%;
  height: 36px;
  border-radius: 25px;
}
.wantlist {
    list-style-type: none;
    float: center;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0%;
    color: black;
}
.col-md-3 {
  margin-bottom: 1%;
}

.nav-logo{
    height: 34px;
    float: left;
    margin-top: 4%;
    width: 23%;
}
.wantlist_height {
  height: 168px;
}
.navbar-toggle{
  float:right;
}

.navbar-header{
  width:100%;
}

.nav > li{
  text-align: center;
}

.main-logo-before{
    margin-left: -203%;
    margin-top: 250%;
    margin-bottom: 98px;
    height: 149px;
    width: 362%;
}


.main-logo{
  margin-top: 50%;
  margin-bottom: 98px;
  height: 97px;
  width: 141%;
  margin-left: 22%;
}

.header-viewcounter{
  color: white;
  font-size:20px;
}
.fieldset_list {
    margin: auto;
    width: 100%;
    position: relative;
    margin-left: -2%;
    margin-top: 2%;
}

.navbar__search{
  margin-top: 10px;
  margin-left: 0%;
  height: 35px;
  width: 100%;
  margin-bottom: 3%;
}

.left_side{
  font-size: 16px;
  width:100%;
  padding-bottom:10px;
}

.right_side{
  font-size:16px;
  width:100%;
  padding-bottom:5px;
}

.middle_side{
  font-size:10px;
  width:100%;
  padding-bottom:10px;
}

/*main_page*/

/*intro_page*/


/*intro_page*/

/*main_org_page_start*/
.content_bongsa_number {
  border: 1px solid #1E929F;
  background-color: #1E929F;
  color: white;
  padding-right: 11px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  margin-left: 7px;
}
.content_bongsa_ic {
  margin-left: 4%;
}
.main_content_height {
  height: 350px;  
}
.org_name {margin-top: 13px;}

.content_bongsa {margin-top: 39px;
                 margin-left: 30px;}

.content_org {
  margin-top: 10px;
  margin-left: 7px;
}

.bongsa_add {
  margin-top: 15px;
}

.main_content_img {
  width:100%;
  height: 230px;
  margin-top:0px;
  }
.image {
  background-color: white;
  border-bottom: 1px solid #1E929F;
  height: 207px;
}

.content {
  border-bottom: 1px solid #1E929F;
  background-color: white;
  height: 100px;
}

p {color: #1E929F;
   font-size: 15px;
}

/*img {*/
/*  width: 44px;*/
/*  height: 44px;*/
/*}*/
    
.main_content__content {
  padding-right: 5px;
  padding-left: 5px;
  border-right:1px solid gainsboro;
}

.side_info__title {
  display: block;
  position: absolute;
  bottom: 0%;
  left: 0;
  color: white;
  background: rgba(0,0,0,0.55);
  padding: 3.5% 0% 1.5% 3%;
  width: 100%;
  text-align: center;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.ptag_up_css {margin-top: 0px;}

.row_main_content  {
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid gainsboro;
  margin-bottom: 12px;
  /*height: 334px;*/
  width: 100%;
}

.main_content_volunteer_img {
  width:100%;
  height: 350px;
  margin-top:0px;  
}
  
.volunteer_org_img {
  width:115px;
  height:115px;
  margin-top: 35px;
}
.plus_icon {
  width: 45px;
  height: 45px;
}

/*main_org_page_end*/


/*----------------- bongsainform_page_start -----------------*/

.slided_img{
    background-image:url('<%= @b.img_main %>');
    background-size: cover;
    padding-top: 30%;
    padding-left: 0px;
}
.m_title{
    margin-left:2%; 
    color:#fff; 
    font-size:25px;
}
.m_term{
    color:#fff; 
    font-size:2em;
    line-height: 57px;
    margin-bottom: 1%;
}
.m_btn{
    width: 100%;
    height: 32px;
    font-size: 20px;
    color: #fff;
    line-height: 0px;
    border-radius: 0px;
    background-color: #5fc0c7;
    margin-top: 17px;
    margin-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
}

.info_line{
  background-color: black;
  width: 4%;
  height: 2px;
  margin-top: 0%;
  
}

.about_subtitle {
  font-size: 18px;
  color : #2b7576;
  text-align: right;
  margin-top: -1%;
}

.about_content {
  font-size: 18px;
  text-align: left;
  margin-top: -1%;
  color: black;
}

.info_more {
  width: 87%;
  height: 43px;
}

.info_icon {
  height: 56px;
  width: 11%;
}

.info_poster {
  width: 100%;
  height: auto;
  margin-top: -6%;
  margin-bottom: 16%;
}
.info_group {
  height: 60px;
}

.info_text {
  margin-left: 15%;
  margin-top: -10px;
  color: black;
}            


.section_icon_area{
	width:70px;
	height: 70px;
	background-image: url(../images/ic_details_info.png);
	position:relative;
	float:left;
	margin-right:8px;
}

.section_side{
	width:24px;
	position: relative;
	float: left;

}

.section_round{
  margin-left: 23%;
	width:20px;
	height:20px;
	border-radius: 100%;
	background-color: #60c0c8;
}
.section_contents{
	width: 72%;
  height: auto;
  margin-left: -44px;
  padding-left: 24px;
  float: left;
}
.section_contents_8 {
	width: 90%;
  height: auto;
  margin-left: -44px;
  padding-left: 24px;
  float: left;
}
.section_title{
	color: #60c0c8;
	font-size: 22px;
}
.section_title_sex {
  margin-top: 37px;  
}

.section_text {
  color: black;
  margin-top: 4px;
  width: 111%;
}
.icon_img{
  width: 70px;
  height: 70px;
}
/*----------------- bongsainform_page_end -----------------*/

/*----------------- footercss_start ---------------------*/
.foot_title {
  float: left;
  background-color: #57ce9b;
  color: white;
  width: 100%;
  margin-left: 0%;
  margin-top: 20px;  
}

/*----------------- footercss_end -----------------------*/

/*----------------- footer_start -----------------*/
.flo { 
    float: left;
    color: white;
}

.footer-logo {
    width: 33%;
    height: 45px;
    margin-top: 0px;
}
.foot_title {
  float: left;
  background-color: #1E929F;
  color: #1E929F;
  width: 100%;
  margin-left: 0%;
}

.footer_contact_facebook{
  width: 36%;
}

.footer_contact_blog{
  width: 48%;
}

/*----------------- footer_end -----------------*/

/* main_header_login_css start */
.main_header_login_user {
  border: 2px solid white;
  background-color: #a3a3a3;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  margin-top: 26%;
}
.login_username {
  color: white;
  font-size: 24px;
  font-weight:500;
}
.login_p_user {
  color: white;  
}
.login_mypage {
  border: none;
  width: 60%;
  height: 37px;
  border-radius: 66px;
  background-color: #26a69a;
  color: white;
}
.login_choice_volunteer {
    border: none;
    width: 63%;
    height: 37px;
    border-radius: 66px;
    background-color: #26a69a;
    color: white;
    margin-left: 17%;
    margin-bottom: 10%;
    margin-top: 5%;
}
/* main_header_login_css end*/