/* custom column sets */

.col-5-1{
  width:8.33%;
}

.col-5-2{
  width:16.66%;
}

.col-5-3{
  width:25%;
}

.col-5-4{
  width:33.33%;
}

.col-5-5{
  width:41.66%;
}

.col-5-6{
  width:50%;
}

.col-5-7{
  width:58.33%;
}

.col-5-8{
  width:66.66%;
}

.col-5-9{
  width:75%;
}

.col-5-10{
  width:83.33%;
}

.col-5-11{
  width:91.66%;
}

.col-5-12{
  width:100%;
}

.col--5-1{
  width:4.16%;
}

.col--5-2{
  width:8.33%;
}

.col--5-3{
  width:12.5%;
}

.col--5-4{
  width:16.66%;
}

.col--5-5{
  width:20.83%;
}

.col--5-6{
  width:25%;
}

.col--5-7{
  width:29.16%;
}

.col--5-8{
  width:33.33%;
}

.col--5-9{
  width:37.5%;
}

.col--5-10{
  width:41.66%;
}

.col--5-11{
  width:45.83%;
}

.col--5-12{
  width:50%;
}

.col--5-13{
  width:54.16%;
}

.col--5-14{
  width:58.33%;
}

.col--5-15{
  width:62.5%;
}

.col--5-16{
  width:66.66%;
}

.col--5-17{
  width:70.83%;
}

.col--5-18{
  width:75%;
}

.col--5-19{
  width:79.16%;
}

.col--5-20{
  width:83.33%;
}

.col--5-21{
  width:87.5%;
}

.col--5-22{
  width:91.66%;
}

.col--5-23{
  width:95.83%;
}

.col--5-24{
  width:100%;
}

/* custom column sets */

/*----------------- navbar_index_start ----------------------*/
.nav_general{
  background-color:#57ce9b; ;
}

.nav-logo{
  width: 158%;
  margin-top: 17%;
  margin-bottom: 17%;
  
}

.nav_calendar {
  font-size:18px;
  display:inline-block;
  width: 100%;  
}

.navbar-right {
  margin-top: -3.5%;
  margin-bottom: 0.3%;
}
.navbar_search_input {
    border: none;
    width: 60%;
    height: 35px;
    border-radius: 100px;
    margin-top: 1%;
}


.search_btn_round {
  width: 7%;
  height: 35px;
  padding: 0.27% 0% 0% 0.2%;
  background-color: #26a69a;
  border-radius: 100%;
  cursor: pointer;
  border: none;
}
.navbar_calendar_btn {
    border: none;
    background-color: #26a69a;
    width: 21%;
    height: 35px;
    border-radius: 100px;
    color: white;
}
.ic_navbar_calendar {
  width:26px;
  height: 25px;
}
/*----------------- navbar_index_end ----------------------*/

/*main_page_start*/
select {
  width: 103%;  
}
.ic_search {
  background-color: #26a69a;
  border: none;
  cursor: pointer;
  width: 90%;
  height: 39px;
  border-radius: 25px;
  margin-left: -17%;
}

.ic_calendar {
  background-color: #26a69a;
  border: none;
  cursor: pointer;
  width: 97%;
  height: 39px;
  border-radius: 25px;
  margin-left: -46.5%;
}
.fieldset_list {
    margin: auto;
    width: 84%;
    position: relative;
    margin-left: 7%;
    margin-top: 2%;
}
.wantlist {
    list-style-type: none;
    float: center;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0%;
    color: black;
}
/*.col-md-3 {*/
/*    margin-bottom: 6%;*/
/*}*/

.wantlist_height {
  height: 120px;
}

.main-logo-before{
    margin-left: -101%;
    margin-top: 70%;
    margin-bottom: 98px;
    height: 149px;
    width: 156%;
}

.main-logo{
    margin-left: 70%;
    margin-top: 43%;
    margin-bottom: 98px;
    height: 149px;
    width: 71%;
}
.sub_logo_login {
  margin-top: 121px;
  margin-bottom: 98px;
  margin-right: 12px;
  width: 100px;
  height: 100px;
}
.sub_logo_signup {
  margin-top: 120px;
  margin-bottom: 98px;
  width: 100px;
  height: 98px;
}
.header-viewcounter{
  margin-top: 35px;
  font-size:20px;
  color: white;
}

.left_side{
  font-size:16px;
  width:33%;
}

.right_side{
  font-size:17px;
  width:33%;
}

.middle_side{
  font-size:20px;
  width:33%;
}
/*main_page_end*/

/*main_org_page_start*/
.content_bongsa_number {
  border: 1px solid #1E929F;
  background-color: #1E929F;
  color: white;
  padding-right: 11px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  margin-left: 7px;
}
.org_name {margin-top: 13px;}

.content_bongsa {margin-top: 39px;
                 margin-left: 30px;}

.content_org {
  margin-top: 10px;
  margin-left: 2%;
}

.bongsa_add {margin-top: 15px;}

.main_content_img {width:100%;
                   height: 240px;
                   margin-top:0px;}
                   
.image {background-color: white;
        border-right: 1px solid #1E929F;
        border-bottom: 1px solid #1E929F;
        height: 207px;}
        
.content {border-right: 1px solid #1E929F;
          background-color: white;
          height: 540px;}

.main_content_height {
  height: 350px;
}

p {color: #1E929F;
   font-size: 15px;}

.main_content__content {
  padding-right: 5px;
  padding-left: 5px;
  border-right:1px solid gainsboro;
  /*height: 87px;*/
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.ptag_up_css {
  margin-top: 0px;
  font-size:13px;
}

.content_bongsa_ic {
  margin-left: 3%;
}
.row_main_content  {
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid gainsboro;
  /*height: 322px;*/
  margin-bottom: 1%;
}
  
.main_content_volunteer_img {
  width:100%;
  height: 240px;
  margin-top:0px;  
}
.volunteer_org_img {width:115px; height:115px; margin-top: 35px;}
.plus_icon {width: 45px;
            height: 45px;}

/*main_org_page_end*/

/*----------------- bongsainform_page_start -----------------*/

/*--new_css--*/

a:hover {
  text-decoration: none;  
}
.navbar__search {
  height: 39px;
  margin: 0;
  padding-left: 5px;
  width: 96%;
  font-weight: 600;
  margin-left: 4%;
  border-radius: 35px;
  color: #57ce9b;
  margin-left: 4%;
  /*background-color: rgba(255,255,255,0);*/
  /*width: 52%;*/
  /*margin-top: 14px;*/
}

.facebook_img {
  width:12%;
}
.login_facebook {
  border: none;
  border-radius: 45px;
  width: 36%;
  height: 40px;
  background-color: #3a5998;  
}
.login_btn {
  color: white;
  background-color: #26a69a;
  border: none;
  width: 18%;
  height: 40px;
  border-radius: 26px;
  margin-top: 2%;
  margin-left: -18%;
}
.login_id {
  margin-bottom: 14px;
  border-radius: 100px;
  height: 40px;
  width: 61%;
  margin-left: -18%;
  border: none;
  background-color:#c8e6c9;
}
.login_psw {
  border-radius: 35px;
  height: 40px;
  width: 61%;
  margin-left: -18%;
  border: none;
  background-color:#c8e6c9;
}

.span_signup {
  margin-left: 24%;
  font-size: 16px;
  color: white;
  border-bottom: 1px solid white;
}
.p_login {
  margin-top: 16%;
  margin-left: -19%;
  color: white;
  font-size: 40px;
  margin-bottom: 22px;
}
.bongsa_img_title {
  color: black;
  font-size: 27px;
  margin-top: 39px;
}
.dday_btn {
  border: none;
  font-size: 14px;
  border-radius: 15px;
  width:10%;
  color: white;
  background-color: #57ce9b;
}
.term_btn {
  border: none;
  font-size: 14px;
  border-radius: 28px;
  width: 12%;
  color: white;
  background-color: #ff5252; 
}
.bongsa_choice {
  border: none;
  width: 22%;
  height: 28px;
  background-color: #60c0c8;
  color: white;
  border-radius: 35px;
  margin-right: 12px;
}

.bongsa_apply {
  border: none;
  width: 25%;
  height: 28px;
  background-color: #60c0c8;
  color: white;
  border-radius: 35px;
  margin-right: 12px;  
}
.bongsa_img {
  width: 250px;
  height:200px;
  margin-left: -12%;
}
.bongsa_sub_inform {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #209797;
}
.bongsa_sub_inform_confirm {
  margin-top: 0px;
  margin-bottom: 26px;
}
.ic_bongsa_inform {
  width: 48px;
  height: 48px;  
}
.bongsa_intro {
  color: #808080;  
}
.bongsa_sub {
  color: #808080;
  margin-left: 85px;
}
.bongsa_sub_confirm {
  color: #808080;
  margin-left: 40px;
}


/*--new_css--*/




.slided_img{
    background-image:url("<%= @b.img_main %>");
    background-size: cover;
    padding-top: 30%;
    padding-left: 0px;
}
.m_title{
    margin-left:2%; 
    color:#fff; 
    font-size:38px;
}
.m_term{
    color:#fff; 
    font-size:2em;
    line-height: 57px;
    margin-bottom: 1%;
}
.m_btn{
    margin-top: 11%;
    width: 68%;
    height: 32px;
    font-size: 20px;
    color: #fff;
    line-height: 0px;
    border-radius: 0px;
    background-color: #5fc0c7;
    margin-bottom: 10%;

}


.info_line{
  background-color: black;
  width: 4%;
  height: 2px;
  margin-top: 0%;
  
}

.about_subtitle {
  font-size: 18px;
  color : #2b7576;
  text-align: right;
  margin-top: -2%;
}

.about_content {
  font-size: 18px;
  text-align: left;
  margin-top: -2%;
  color: black;
}

.info_more {
  width: 100%;
  height: 43px;
  margin-top: 13px;
}
.section_text {
  color: #808080;
  margin-top: 4px;
  width: 111%;
  margin-bottom: 3%;
}

.btn_side {
  margin-left: -39%;
}

.info_icon {
  height: 56px;
  width: 11%;
}

.info_poster {
  width: 100%;
  height: auto;
  margin-bottom: 16%;
}
/*#info_group {*/
/*  overflow:auto;*/
/*}*/
/*#section_contents {*/
/*  margin-bottom: 10%;  */
/*}*/
.info_text {
  margin-left: 15%;
  margin-top: -10px;
  color: black;
}            


.section_icon_area{
	width:70px;
	height: 70px;
	background-image: url(../images/ic_details_info.png);
	position:relative;
	float:left;
	margin-right:8px;
}

.section_side{
	width:24px;
	position: relative;
	float: left;

}

.section_round{
  margin-left: 23%;
	width:20px;
	height:20px;
	border-radius: 100%;
	background-color: #60c0c8;
}
.section_contents{
	width: 72%;
  height: auto;
  margin-left: -44px;
  padding-left: 24px;
  float: left;
}
.section_contents_8 {
	width: 90%;
  height: auto;
  margin-left: -44px;
  padding-left: 24px;
  float: left;
}

.section_title{
	color: #239999;
	font-size: 15px;
}
.icon_img{
  width: 70px;
  height: 70px;
}
/*----------------- bongsainform_page_end -----------------*/

/*----------------- bongsa_calendar_start -----------------*/

/*new*/
.bongsa_type_title {
  font-size: 15px;
  padding-left: 7%;
  color: black;
  margin-top: 15%;
  margin-bottom: 3%;
}
.period_title {
  color: black;
  font-size: 15px;
  padding-left: 7%;
  margin-bottom: 3%;
}
.period_check_box {
  font-size: 14px;
  color: black;
}
input.s_check {
  margin-left: 7%;
  width: 14px;
  height: 14px;
}
input.e_check {
  margin-left: 7%;
  width: 14px;
  height: 14px;
}
.index_calendar_title {
  font-size: 32px;
  color: black;
  margin-top: 0%;
  font-weight: 600;
}
.index_calendar_title_arrow {
  width: 40px;
  height: 40px;
}
.small_calendar_arrow {
  width: 11px;
  height: 11px;
}
.calendar_arrow_btn {
  border: none;
  background-color: white;  
}
/*new*/

.row {
    margin:0px;
}
	
.col-7 {
    width: 14.28%;
    display:block;
    float:left;
    position: relative;
    min-height: 1px;
}
	
input.select_type {
  margin-left: 7%;
  width: 14px;
  height: 14px;
}

.select_type_name {
  font-size: 14px;
  color: black;
}
	
.circle {
    width: 8%;
    height: 13px;
    border-radius: 50px;
    margin-top: -13.1%;
    margin-left: 15%;
}
	
.calendar_date {
	font-size: 22px;
	margin-top: 5%;
	color: #000000;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}
	
.calendar_content_background {
    background: white; 
    color: black;
    height: 600px;
    border-right: 1px solid #dadada;
}

.calendar_content_last { 
    background: white; 
    color: black;
    height: 600px;
}
					    
.color {
    background-color: #5fc0c7;
}

.small-calendar-title {
  padding-left: 7%;
  text-align:left;
  font-weight: 800;
  margin: 36px 0px -6px 0px;
  font-size: 15px;
}

.dayname-container {
    float: left;
    /*color:white;*/
}

.calendar-container {
    float: left;
    height: 20px;
    width: calc(100% / 7);
}

.day-label {
    float: left;
    height: 20px;
    width: calc(100% / 7);
}

.calendar_day_info{
    /*background:rgba(255, 165, 0, 0.2);*/
    border-radius:15px;
    padding:4px;
    font-size: 13px;
}

.calendar_day_info > a{
    color:black;
}

.calendar_day_info > a:hover{
    color:black;
    text-decoration:none;
}
.calendar_day{
    color: #000000;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.date_start{
  margin-right: 4%;
  background: #63dc16;
  color: white;
  font-size: 11px;
  border-radius: 200px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-top: 3px;
}

.date_end{
  margin-right: 4%;
  background: #e43834;
  color: white;
  font-size: 11px;
  border-radius: 200px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-top: 3px;
}

.small-calendar {
    padding: 16px 10px;
    height: calc(7 * 20px + 2 * 15px + 2px);
    background-color: rgba(249, 246, 246, 0.16);
}

.bongsa_checkbox {
    margin-top:5%;
}


/*----------------- bongsa_calendar_end -----------------*/

/* input_tag_css */
input.login_id::-webkit-input-placeholder {
    color: white;
    font-size:15px;
}
input.login_id:-moz-placeholder { /* Firefox 18- */
    color: white; 
}
input.login_id::-moz-placeholder {  /* Firefox 19+ */
    color: white; 
}
input.login_id:-ms-input-placeholder {  
    color: white;  
}
input.login_psw::-webkit-input-placeholder {
    color: white;
    font-size:15px;
}
input.login_psw:-moz-placeholder { /* Firefox 18- */
    color: white; 
}
input.login_psw::-moz-placeholder {  /* Firefox 19+ */
    color: white; 
}
input.login_psw:-ms-input-placeholder {  
    color: white;  
}
input.navbar_search_input::-webkit-input-placeholder {
    color: #57ce9b;
    font-size:13px;
}
input.navbar_search_input:-moz-placeholder { /* Firefox 18- */
    color: #57ce9b; 
}
input.navbar_search_input::-moz-placeholder {  /* Firefox 19+ */
    color: #57ce9b; 
}
input.navbar_search_input:-ms-input-placeholder {  
    color: #57ce9b;  
}
/* input_tag_css */

/*----------------- login_modal_start
.modal_login {
  color:black;
  background-color: #dbd9d9;
  display: none;
  position: fixed;
  top: 50%;
  left: 52%;
  margin-left: -24%;
  margin-top: -15%;
  padding: 7%;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
}

.modal_content{
  color: white;
}

.modal_close {
  color:  #000;
  text-decoration: none;
  float: right;
  position: absolute;
  top: 10px;
  right: 20px
}

.icon_facebook {height: 37px;
                width: 37px;}
login_modal_end ----------------------*/

/*----------------- footer_start -----------------*/
.flo { 
    float: left;
    color: white;
}

.footer-logo {
  width: 29%;
  height: 45px;
  margin-top: 10%;
}

.footer_contact_facebook{
  width: 36%;
}

.footer_contact_blog{
  width: 44%;
}
.foot_title {
  float: left;
  background-color: #57ce9b;
  color: #1E929F;
  width: 100%;
  margin-left: 0%;
}

/*----------------- footer_end -----------------*/

/* main_header_login_css start */
.main_header_login_user {
  border: 2px solid white;
  background-color: #a3a3a3;
  height: 88px;
  width: 11%;
  border-radius: 100%;
  margin-top: 22%;
}
.login_username {
  color: white;
  font-size: 24px;
  font-weight:500;
}
.login_p_user {
  color: white;  
}

.login_mypage {
    border: none;
    width: 19%;
    height: 37px;
    border-radius: 66px;
    background-color: #26a69a;
    color: white;
}
.login_choice_volunteer {
  border: none;
  width: 18%;
  height: 37px;
  border-radius: 66px;
  background-color: #26a69a;
  color: white;
}
/* main_header_login_css end*/

/* mypage_css start */
.mypage_profile {
    width: 52%;
    height: 96px;
    background-color: #a3a3a3;
    border: 2px solid white;
    border-radius: 100%;
    margin-top: 20%;
    margin-bottom: 14%;
}
.mypage_name {
  color: black;
  font-size: 17px;
  font-weight: 700;
  margin-top: 1%;
}
.mypage_user_email {
  color: black;
  font-size: 15px;
  margin-top: -5%;
}

.edit_icon{
  background-color: white;
  border: none;
  color: #BABABC;
  font-size: 19px;

}

mypage_career_plus{
      width: 4%;
    margin-top: -2%;

}

.profile_title {
  margin-left: 3%;
  font-size: 22px;
  margin-top: 5%;
  color: black;
  font-weight: 800;
  text-align: left;
}

.profile_sub_title {
  font-size: 15px;
  color: #2f9e9e;
  text-align: left;
}

.profile_sub_title_edit{
  font-size: 15px;
  color: #2f9e9e;
  text-align: left;
  width: 31%;
}
.profile_box_line_pws_confirm {
  margin-top: 21%;
  width: 75%;
  padding-left: 15px;  
}

.profile_sub_info {
  color: #a3a3a3;
  font-size: 15px;
  text-align: left;
}

.profile_sub_info_edit {
  color: #a3a3a3;
  font-size: 15px;
  text-align: left;
}
.profile_sub_modify {
    border: none;
    background-color: white;
    height: 27px;
    margin-left: 64%;
    margin-top: 0%;
    margin-bottom: 10%;
    width: 18%;
    font-size: 14px;
    color: #a3a3a3;
  /*margin-bottom: -1%;*/
}
.under_title {
  margin-left: 3%;
  border-bottom: 3px solid black;
  width: 30px;
  margin-top: -2%;
}

.volunteer_history_title {
    margin-left: 3%;
    font-size: 22px;
    color: black;
    font-weight: 800;
    text-align: left;
}
.career_title {
  margin-left: 3%;
  font-size: 22px;
  color: black;
  font-weight: 800;
  text-align: left;
}
.self_intro_title {
  margin-left: 3%;
  font-size: 22px;
  color: black;
  font-weight: 800;  
  text-align: left;
}
.whole_volunteer_time {
  font-size: 15px;
  color: #a3a3a3;
  margin-left: 19%;  
}
.check_time {
  font-size: 19px;
  font-weight: 600;
  color: #008888;
}
.volunteer_work_name {
  text-align: left;
  font-size: 15px;
  color: #514E4E;
  margin-bottom: -1%;  
}
.volunteer_work_time {
  font-size: 15px;
  color: #514E4E;
  margin-bottom: -1%; 
  text-align: right;
  width:25%;
}
.plus_career {
  color: #bbbbbd;
  font-size: 18px;
}
.career_plus {
  margin-left: 41%;
  width:20px;
  height: 20px;
}
.history_plus {
  margin-left: 36%;
  width:20px;
  height: 20px; 
}
.self_intro_info {
  text-align: left;
  margin-left: 3%;
  margin-bottom: 8%;
  color: #514E4E;
}

.self_info_modify {
  color: #bbbbbd;
  font-size: 18px;
  margin-left: 46%;
}

.go_mypage_edit {
  width: 17%;
  color: white;
  background-color: #26A69A;
  height: 35px;
  border: none;
  margin-bottom: 2%;
}
/* mypage_css end */

/* mypage_edit_css start */
.self_intro_box {
  width: 80%;
  
}
/* mypage_edit_css end */