/*main_page*/
.wantlist {
    list-style-type: none;
    float: center;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0%;
    color: black;
}
.col-md-3 {
    margin-bottom: 6%;
}
.wantlist_height {
  height: 120px;
}
.nav-logo{
  margin-left: 0%;
  height: 36px;
  width: 59%;
  margin-top: 6%;
}

.navbar-header{
  width:18%;
}

.main-logo{
  height: 215px;
  width:33%;
  margin-bottom:-4%;
}

.header-viewcounter{
  margin-top: 35px;
  font-size:20px;
  color: white;
}

.navbar__search{
  height: 35px;
  width: 38%;
  margin-left: 31%;
  margin-top: 10px;
}

.left_side{
  font-size:16px;
  width:33%;
}

.right_side{
  font-size:17px;
  width:33%;
}

.middle_side{
  font-size:20px;
  width:33%;
}
/*main_page*/

/*intro_page*/
/*intro_page*/

/*main_org_page_start*/
.content_bongsa_number {
  border: 1px solid #1E929F;
  background-color: #1E929F;
  color: white;
  padding-right: 11px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  margin-left: 7px;
}

.content_bongsa_ic {
  margin-left: 5%;
}
.main_content_height {
  height: 340px;  
}
.org_name {margin-top: 13px;}

.content_bongsa {margin-top: 39px;
                 margin-left: 30px;}

.content_org {margin-top: 10px;
              margin-left: 7px;}

.bongsa_add {margin-top: 15px;}

.main_content_img {width:100%;height: 230px;
                   margin-top:0px;}
.image {background-color: white;
        border-right: 1px solid #1E929F;
        border-bottom: 1px solid #1E929F;
        height: 207px;}
.content {border-right: 1px solid #1E929F;
          background-color: white;
          height: 540px;}
p {color: #1E929F;
   font-size: 15px;}
img {width: 29px;
    height: 29px;}
    
.main_content__content {padding-right: 5px;
                        padding-left: 5px;
                        border-right:1px solid gainsboro;}

.side_info__title {
        /* margin-left: 0%; */
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0;
    color: white;
    background: rgba(0,0,0,0.55);
    padding: 3.5% 0% 1.5% 3%;
    width: 100%;
    text-align: center;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.ptag_up_css {
  margin-top: 0px;
  font-size:13px;
}

.row_main_content  {padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid gainsboro;}
  
.volunteer_org_img {width:115px; height:115px; margin-top: 35px;}
.plus_icon {width: 45px;
            height: 45px;}

/*main_org_page_end*/

/*----------------- bongsainform_page_start -----------------*/

.slided_img{
    background-image:url('<%= @b.img_main %>');
    background-size: cover;
    padding-top: 30%;
    padding-left: 0px;
}
.m_title{
    margin-left:2%; 
    color:#fff; 
    font-size: 38px;
}
.m_term{
    color:#fff; 
    font-size:2em;
    line-height: 57px;
    margin-bottom: 1%;
}
.m_btn{
    margin-top: 11%;
    width: 68%;
    height: 32px;
    font-size: 20px;
    color: #fff;
    line-height: 0px;
    border-radius: 0px;
    background-color: #5fc0c7;
    margin-bottom: 10%;

}

.section_text {
  color: black;
  margin-top: 4px;
  width: 113%;
  margin-left: -3%;
}
.info_line{
  background-color: black;
  width: 4%;
  height: 2px;
  margin-top: 0%;
  
}
.btn_side {
  margin-left: -39%;
}
.about_subtitle {
  font-size: 18px;
  color : #2b7576;
  text-align: right;
  margin-top: -2%;
}

.about_content {
  font-size: 18px;
  text-align: left;
  margin-top: -2%;
  color: black;
}

.info_more {
  width: 87%;
  height: 43px;
  margin-top: 100px;
}

.info_icon {
  height: 56px;
  width: 11%;
}

.info_poster {
  width: 100%;
  height: auto;
  margin-top: -6%;
  margin-bottom: 16%;
}
.info_group {
  height: 60px;
}

.info_text {
  margin-left: 15%;
  margin-top: -10px;
  color: black;
}            


.section_icon_area{
	width:70px;
	height: 70px;
	background-image: url(../images/ic_details_info.png);
	position:relative;
	float:left;
	margin-right:8px;
}

.section_side{
	width:24px;
	position: relative;
	float: left;

}

.section_round{
  margin-left: 23%;
	width:20px;
	height:20px;
	border-radius: 100%;
	background-color: #60c0c8;
}
.section_contents{
	width: 68%;
  height: 65px;
  border-left: solid 2px #60c0c8;
  margin-left: -10px;
  padding-left: 24px;
  float: left;
}
.section_title{
	color: #60c0c8;
	font-size: 21px;
}
.section_title_sex {
    margin-top: 61px;
}
.icon_img{
  width: 70px;
  height: 70px;
}
/*----------------- bongsainform_page_end -----------------*/

/*----------------- bongsa_calendar_start -----------------*/

.row {
    margin:0px;
}
	
.col-7 {
    width: 14.28%;
    display:block;
    float:left;
    position: relative;
    min-height: 1px;
}
	
.select_type {
    width: 16px;
    height: 16px;
}
	
.select_type_name {
    margin-left: 27%;
    margin-top: -9.6%;
    font-size: 13px;
}
	
.circle {
    width: 8%;
    height: 13px;
    border-radius: 50px;
    margin-top: -13.1%;
    margin-left: 15%;
}
	
.checking {
	  margin-left: 10%;
}
	
.calendar_date {
  	font-size: 40px;
  	margin-top: 5%;
}
	
.calendar_content_background {
    background: white; 
    color: black;
    height: 600px;
    border-right: 2px solid #e7f5e8;
}

.calendar_content_last { 
    background: white; 
    color: black;
    height: 600px;
}
					    
.color {
    background-color: #5fc0c7;
}

.small-calendar-title {
    text-align:center;
    font-weight: 800;
    color: white;
    margin-bottom: 4%;
    font-size: 44px;
}


.dayname-container {
    float: left;
    color:white;
}

.calendar-container {
    float: left;
    height: 20px;
    width: calc(100% / 7);
}

.day-label {
    float: left;
    height: 20px;
    width: calc(100% / 7);
    margin-bottom: 10%;
}

.calendar_day_info{
    background:rgba(255, 165, 0, 0.2);
    border-radius:15px;
    padding:4px;
}

.calendar_day_info > a{
    color:black;
}

.calendar_day_info > a:hover{
    color:black;
    text-decoration:none;
}

.date_start{
    background:rgba(255, 0, 0, 0.5);
    border-radius:100px;
    padding-bottom:3px;
    padding-left:3px;
}

.date_end{
    background:rgba(0, 0, 255, 0.5);
    border-radius:100px;
    padding-bottom:3px;
    padding-left:3px;
}

.small-calendar {
    padding: 16px 10px;
    height: calc(7 * 77px + 2 * 15px + 2px);
    background-color: rgsba(249, 246, 246, 0.16);
    width: 37%;
    margin-left: 15%;
    text-align: center;
    font-size: 35px;
    width: 70%;
}

.bongsa_checkbox {
    margin-top:5%;
}

.navbar__search {
    height: 35px;
    background-color: rgba(255,255,255,0);
    width: 44%;
    margin-left: 28%;
}


::-webkit-input-placeholder {
    color: white;
    font-size:15px;
}

:-moz-placeholder { /* Firefox 18- */
    color: white; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white; 
}

:-ms-input-placeholder {  
    color: white;  
}


/*----------------- bongsa_calendar_end -----------------*/


/*----------------- login_modal_start ----------------------*/
.modal_login {
  color:black;
  background-color: #dbd9d9;
  display: none;
  position: fixed;
  top: 50%;
  left: 52%;
  margin-left: -28%;
  margin-top: -15%;
  padding: 7%;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
}
/*----------------- login_modal_end ----------------------*/

/*----------------- footer_start -----------------*/
.foot_title {
  float: left;
  background-color: #1E929F;
  color: #1E929F;
  width: 100%;
  margin-left: 0%;
  height: 206px;
}

.flo { 
    float: left;
    color: white;
}

.footer-logo {
  width: 42%;
  height: 45px;
  margin-top: 10%;
}


.footer_contact_facebook{
  width: 15%;
}

.footer_contact_blog{
  width: 12%;
  margin-top: 2%;
}

/*----------------- footer_end -----------------*/