/*intro_page*/





/*intro_page*/

/*----------------- navbar_index_start ----------------------*/
.main_navbar_volunteer {background: rgba(0,0,0,0.55);}
a {
    color:white;
}
.navbar-default {
    background-repeat: repeat-x;
    border-radius: 0px;
}

.dropdown-menu{
  width: 100%;
}


.container-fluid {
    background-color: #1E929F;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
    background-color: #2181b4;
    color: white;
}
    
.navbar-default .navbar-nav>li>a {
    color: white;
}

.nav_login{
  cursor: pointer;
  font-size: 18px;
}



.container {
    width: 100%;
}

.nav-logo{
    margin-left: 0%;
}
/*----------------- navbar_index_end ----------------------*/

/*main_page*/
.header__title{
  text-align: center;
  width: 100%;
}
.navbar__search {
  border-radius: 16px;  
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #57ce9b;
}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #57ce9b;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #57ce9b;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #57ce9b;
   opacity:  1;
}

body {
    background-color: #E8F4E8;
}
              
.header__top {
  height: 40px;
}

.navbar__search {
    border-right: none;
    border-left: none;
    border-top: none;
    border-right: 1%;
    border-bottom: none;
}

.navbar__search__first {
    height: 35px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid white;
    background-color: #5FC0C7;
    width: 50px;
}

.header {
    border: none;
    color: white;
    /*height: 400px;*/
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(0,0,0,0.9);
    background-color:#57ce9b;
    background-position:center 30%;
    background-size:cover;
}

fieldset {
    position: absolute;
    width: 100%
}

label {
    text-align: center;
    display: block;
    margin: 30px 0 0 0;
    font-size: 22px;
}

select {
  border-radius: 20px;
  color: white;
  font-size: 15px;
  background-color: rgba(255,255,255,0);
  border: 2px solid #ffffff;
  height: 37px;
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url("/img/ic_logo/ic_arrow_24px_small.png") no-repeat 95% 50%;  /* 화살표 모양의 이미지 
  /*background: url("img/teamprofile/select_btn.jpg") no-repeat 95% 50%;  /* 화살표 모양의 이미지 */ 
}

select option {
    color: black;
    background-color: #f1f1f1;
}

.overflow {
    height: 200px;
}

.navbar-right{
    margin-right: 0px;
}

::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
}
.row {
    margin-right: auto;
    margin-left: auto;
}

.fa-calendar-check-o {
    color: #512da7;    
}
.hvr-border-fade{
    box-shadow: inset 0 0 0 4px #E8F4E8, 0 0 1px rgba(0, 0, 0, 0);
}

#bongsa_more_btn {
    border: none;
    width: 175px;
    height: 36px;
    background-color: #5FC0C7;
    color: white;
    font-size: 16px;
    border-radius: 6px;
  
}
.background-img {
    height: 150px;
}

.main_content__title {
    font-size: 20px;
    color: white;
    opacity:1;
}
                      
.side_info__title {
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0;
    color: white;
    background: rgba(49, 46, 46, 0.6);
    padding:3.5% 0% 1.5% 3%;
    width:100%;
    text-align:center;
}
    
.side_info__dday {
    display: block;
    position: absolute;
    bottom: 17%;
    left: 0;
    margin-left: 5%;
    border-radius: 14px;
}
                  
.side_info__dday__form {
    color: black;
    font-size: 15px;
    border: none;
    padding: 5px;
    background-color: white;
}

.left_side {
    float : left;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.right_side {
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white
}



.middle_side{
  float:left;
}

.ptag_up_css {
    color: #A8A8A8; 
    margin-bottom: 5%;
}
    
.ptag_bottom_css {
    color: #000000; 
    font-size: 17px;
    margin-bottom: 15%;
}

.fieldset_list {height: 55px;}
/*main_page*/


/*----------------- bongsainform_page_start -----------------*/
.continue{
  border-bottom:2px solid #A0A0A0;
}
.info_title {
  font-size: 30px;
}
/*----------------- bongsainform_page_end -----------------*/

/*----------------- login_modal_start ----------------------*/
.login_title {
    font-size: 30px;
    color: white;

}

.login_icon {
  width: 12%;
  height: 38px;
}

.login_cancle {
     width: 30%;
     margin-left: 66%;
     margin-top: 11%;
}

.login_btn {
     font-size: 14px;
     background-color: #ec1c77;
     color: white;
     width: 45%;
     height: 33px;
     border: none;
}

.login_input{
    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    border-color: white;
    width: 84%;
}

.loginbtn input { 
    border: none;
    width: 70px;
    height: 30px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
                }
                
.modal_content{
  color: white;
}

.modal_close {
  color:  #000;
  text-decoration: none;
  float: right;
  position: absolute;
  top: 10px;
  right: 20px
}

.icon_facebook {height: 37px;
                width: 37px;}
/*----------------- login_modal_end ----------------------*/

/*----------------- footer_start -----------------*/

a {
    color: white;
}
.foot_list {
    list-style: none;
    float : left;
    color: white
}
/*----------------- footer_end -----------------*/