<form action="./test" enctype="multipart/form-data" >
  <% 5.times do |x| %>
    <input type="checkbox" name="chk_his" value="<%= x %>" /><%= x %>
    <br>
  <% end %>
  <input type="submit" value="a">
</form>