<div class="well well-out">
    <div class="well well-in">
        설정
    </div>
    <div class="well well-in">
        <table class="table" style="border-color: black;">
            <thead>
                <tr class="tr-head">
                    <td>#</td>
                    <td>이름</td>
                    <td>값</td>
                </tr>
            </thead>
            <tbody>
                <% Admin.all.reverse.each do |post| %>
                    <tr class="tr-content">
                        <td><%= post.id %></td>
                        <td><a href="/admin/index?admin=m_admin&id=<%= post.id %>&mod=1"><%= post.name %></a></td>
                        <td><%= post.value %></td>
                    </tr>
                <% end %>
        </table>
    </div>

    <div class="row" align="right">
        <a class="btn btn-orange" href="/admin/index?admin=m_admin">등록</a>
    </div>


</div>
