<div class="row">
    <div class="well well-out">
        <!--h4>Search</h4-->
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
            </div>
            <!-- /.input-group -->
        </div>
        
        <div class="well well-out">
            <h3><b>관리 메뉴</b></h3>
            <table>
                <tbody align="left">
                    <tr><td><a href="/admin/index?admin=admin">기타 설정</a></td></tr>
                    <tr><td><a href="/admin/index?admin=vltr_age">모집연령 관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=region">지역 관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=category">카테고리 관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=btime">봉사시간(항목) 관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=school">학교 관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=org">봉사기관 관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=user">회원 관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=user_type">User_Type</a></td></tr>
                    <tr><td><a href="/admin/index?admin=bongsa">봉사정보 등록</a></td></tr>
                    <tr><td><a href="/admin/index?admin=bongsa_tmp">봉사정보 등록(임시)</a></td></tr>
                    <tr><td><a href="/admin/index?admin=authority_def">권한정의</a></td></tr>
                    <tr><td><a href="/admin/index?admin=authority_bundle">권한모음(bundle)</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>