<form action="/admin/test2" method="POST">
<input type="text" name="name" class="form-control_time"  value="<%#= @b.time_daily_start %>" /><br>
<input type="text" name="name" class="form-control_time" value="<%#= @b.time_daily_end %>" />
<input type="submit" value="123">
</form>