<div class='row backgroundcolor' style="margin-left: auto; margin-right: auto;">
  <div class="foot_title">
      <div class="left_side">
        <ul class="foot_list">
          <li style="float:left; font-family:none;">
            <a href="https://www.facebook.com/bongsaggun" target="_blank"><img src="/img/ic_logo/ic_facebook.png" class="footer_contact_facebook"/></a>
            <a href="http://blog.naver.com/bongsaggun" target="_blank"><img src="/img/ic_logo/ic_blog.png" class="footer_contact_blog"/></a>
          </li>
        </ul><br>
        <ul class="foot_list">
           <!--<li style="float:left; font-family:none;">Email : bongsaggun@naver.com</li>-->
          <!--<li style="float:left; font-family:none;"><a href="/scheduler/">&nbsp· 봉사꾼</a></li>-->
        </ul>
      </div>
      
      <div class="middle_side">
        <center><img src="/img/ic_logo/main_navbar_logo.png" class="footer-logo"></center>
      </div>
      
      <div class="right_side" style="padding-right:4%;">
        <div style="text-align:right;">© <a href="/home/temp" target="_blank">멋쟁이사자처럼 X 봉사꾼</a></div>
        <div style="text-align:right;">&nbsp Beta v1.0 released 15.11.18</div>
       <div style="text-align:right;">&nbsp Email : bongsaggun@naver.com</div>

      </div>
  </div>
</div>