<style>

    
a {
    color: white;
}

.flo { 
    float: left;
    color: white
}

.foot_list {
    list-style: none;
    float : left;
    color: white
}

</style>
<div class='row backgroundcolor' style="margin-left: auto; margin-right: auto;">
  <div class="foot_title">
      <div class="left_side">
        <ul class="foot_list">
          <li style="float:left; font-family:none;"><a href="https://github.com/arshaw/fullcalendar/releases" target="_blank">v1.0</a>released September 14th 2015</li>
          <li style="float:left; font-family:none;"><a href="/scheduler/">&nbsp· 봉사꾼</a></li>
        </ul>
        <br>
        <ul class="foot_list">
          <li style="float:left; font-family:none;"><a href="https://github.com/arshaw/fullcalendar" target="_blank">Navercafe</a></li>
          <li style="float:left; font-family:none;">&nbsp· <a href="http://blog.arshaw.com/" target="_blank">Kakao Talk</a></li>
          <li style="float:left; font-family:none;">&nbsp· <a href="http://blog.arshaw.com/" target="_blank">Facebook</a></li>
          <li style="float:left; font-family:none;">&nbsp· <a href="http://blog.arshaw.com/" target="_blank">Twitter</a></li>
        </ul>
      </div>
      
      <div class="middle_side">
        <center><img src="/img/ic_logo/logo_caligraphy_1024px_white.png" class="footer-logo"></center>
      </div>
      
      <div class="right_side" style="padding-right:4%;">
        <div style="text-align:right;">© 2015 <a href="/home/temp" target="_blank">재철이는 코끼리를 타고</a></div>
        <div style="text-align:right;">&nbsp 멋쟁이사자처럼 X 동국대학교팀</div>
      </div>
  </div>
</div>
