<div class='row backgroundcolor'>
  <div class="col-md-12 foot_title">
    <div id="foot">
      <div class="col-md-4 left_side">
        <ul class="foot_list">
          <li style="float:left; font-family:none;"><a href="https://github.com/arshaw/fullcalendar/releases" target="_blank">v1.0</a>released September 14th 2015</li>
          <li style="float:left; font-family:none;"><a href="/scheduler/">&nbsp· 봉사꾼</a></li>
        </ul>
        <br>
        <ul class="foot_list">
          <li style="float:left; font-family:none;"><a href="https://github.com/arshaw/fullcalendar" target="_blank">Navercafe</a></li>
          <li style="float:left; font-family:none;">&nbsp· <a href="http://blog.arshaw.com/" target="_blank">Kakao Talk</a></li>
          <li style="float:left; font-family:none;">&nbsp· <a href="http://blog.arshaw.com/" target="_blank">Facebook</a></li>
          <li style="float:left; font-family:none;">&nbsp· <a href="http://blog.arshaw.com/" target="_blank">Twitter</a></li>
        </ul>
      </div>
      
      <div class="col-md-4 middle_side">
        <center><img src="/img/name.png" alt="" style="width:25%; margin-top: 3%;"></center>
      </div>
      
      <div class="col-md-4 right_side" style="padding-right:4%;">
        <div style="text-align:right;">© 2015 <a href="http://arshaw.com/" target="_blank">재철이는 코끼리를 타고</a></div>
        <div style="text-align:right;">&nbsp 멋쟁이사자처럼 X 동국대학교팀</div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'style/footercss' %>
