<!--회원탈퇴 재질문하는 모달부분-->
  <div class="modal fade bs-example-modal-sm" id="exit">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">정말로 탈퇴하시겠습니까?ㅠㅠ</h4>
        </div>
        <div class="modal-footer">
          <a href="/user/delete_account"><button type="button" class="btn btn-primary">네</button></a>
          <button type="button" class="btn btn-default" data-dismiss="modal">아니오</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!--모달 끝-->

<div class="rows nav_general" id="nav_general">
  <div class="col-0-1 col--3-1 col--2-1">&nbsp</div>
  <div class="col-0-1 col--3-4 col--2-2">
    <a href="/"><img src="/img/ic_logo/main_navbar_logo.png" class="nav-logo"></a>
  </div>
  <div class="col-0-6 col--3-10 col--2-11">
    &nbsp&nbsp&nbsp<input type="text" class="navbar_search_input" name="s_word" id="s_word" onchange="hideIcon(this);" placeholder="&nbsp&nbsp&nbsp봉사활동을 검색해보세요">
    <button class="search_btn_round"><img class="ic_navbar_search" src="/img/ic/ic_search_white_48dp_2x.png"></button>&nbsp
  </div>
  <div class="col-0-4 col--3-9 col--2-10 user_menu_box">
    <div class="menu" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= flash[:error] %></li>
        <% unless current_user.nil? #로그인을 했으면 %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/calendar/index">봉사달력</a></li>
              <li><a href="/baguni/timemanage">찜한봉사</a></li>
              <li><a href="/user/mypage">마이페이지</a></li>
              <li><a href="#" data-toggle="modal" data-target="#exit">회원탈퇴</a></li>
              <li role="separator" class="divider"></li>
              <li class="logout">
              <% unless current_user.organization_id.nil? %>
                <li><a href="/admin/index">봉사정보 등록</a></li>
              <% end %>
              
              <%# if authority_confirm?("cAdmin") %>
                <li class="login"><a id="link--login" class="secondary-nav-item" href="/admin/index">Admin</a></li>
              <%# end %>
            </ul>
          </li>
          <li class="logout">
            <a id="link--login" class="secondary-nav-item" href="/user/sign_out?redirect=/home/index">로그아웃</a>
          </li>
          
        <% else %>
          <li class="nav_login secondary-nav-item"><a href="/home/index">로그인</a></li>
          <li class="nav_signin"><a id="link--login" class="secondary-nav-item" href="/user/sign_up">회원가입</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

























