<div class="modal fade modal-baguni" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="height: 80px;margin-top: 100px;">
      <center>
        <div class="rows" style="margin-top: 10px;">
          <div class="col-0-6">
            <a href="/baguni/bucket_save/<%= @b.id %>">
              <button type="button" class="bongsa_choice">찜 하기</button>
            </a>
          </div>
          <div class="col-0-6">
            <a>
              <button type="button" class="bongsa_choice" data-toggle="modal" data-target=".modal-baguni">계속보기</button>
            </a>
          </div>
        </div>
      <center>
    </div>
  </div>
</div>