<center>
  <table>
    <thead></thead>
    <tbody class="col-md-12">
      <tr>
        <div class="dayname_container col-md-12">
          <td>
            <div class="dayname-calendar-cell col-md-12">
              <div class="day-label name-of-days">일</div>
          </div>
          </td>
          <td>
            <div class="dayname-calendar-cell col-md-12">
              <div class="day-label name-of-days">월</div>
            </div>
          </td>
          <td>
            <div class="dayname-calendar-cell col-md-12">
              <div class="day-label name-of-days">화</div>
            </div>
          </td>
          <td>
            <div class="dayname-calendar-cell col-md-12">
              <div class="day-label name-of-days">수</div>
            </div>
          </td>
          <td>
            <div class="dayname-calendar-cell col-md-12">
              <div class="day-label name-of-days">목</div>
            </div>
          </td>
          <td>
            <div class="dayname-calendar-cell col-md-12">
              <div class="day-label name-of-days">금</div>
            </div>
          </td>
          <td>
            <div class="dayname-calendar-cell col-md-12">
              <div class="day-label name-of-days">토</div>
            </div>
          </td>
        </div>
      </tr>
   
      <tr>
        <div class="top-calendar-week col-md-12">
          <td>
           <div class="day-calendar-cell col-md-12">
             <div class="day-label">30</div>
           </div>
           </td>
           <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">31</div>
             </div>
           </td>
           <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">2</div>
             </div>
           </td>
           <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">3</div>
             </div>
            </td>
            <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">4</div>
             </div>
            </td>
            <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">5</div>
             </div>
            </td>
            <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">6</div>
             </div>
            </td>
        </div>
      </tr>
      
      
      <tr>
        <div class="day-content col-md-12">
          <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
        </div>
      </tr>
      
            <tr>
        <div class="top-calendar-week col-md-12">
          <td>
           <div class="day-calendar-cell col-md-12">
             <div class="day-label">30</div>
           </div>
           </td>
           <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">31</div>
             </div>
           </td>
           <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">2</div>
             </div>
           </td>
           <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">3</div>
             </div>
            </td>
            <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">4</div>
             </div>
            </td>
            <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">5</div>
             </div>
            </td>
            <td>
             <div class="day-calendar-cell col-md-12">
               <div class="day-label">6</div>
             </div>
            </td>
        </div>
      </tr>
      <tr>
        <div class="day-content col-md-12">
          <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
           <td class="bongsa-calendar-cell">
           <div class="col-md-12">
             <div class="bongsa_name_cell">
               <p>MDS테크놀로지</p>
               <p>MDS테크놀로지</p>
             </div>
           </div>
           </td>
        </div>
      </tr>
      
      <!--<div class="day-content col-md-12">-->
      <!--  <div class="calendar-cell col-md-1">-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--  </div>-->
      <!--  <div class="calendar-cell col-md-1">-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--  </div>-->
      <!--  <div class="calendar-cell col-md-1">-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--  </div>-->
      <!--  <div class="calendar-cell col-md-1">-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--  </div>-->
      <!--  <div class="calendar-cell col-md-1">-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--  </div>-->
      <!--  <div class="calendar-cell col-md-1">-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--  </div>-->
      <!--  <div class="calendar-cell col-md-1">-->
      <!--    <div class="bongsa_name_cell">MDS테크놀로지</div>-->
      <!--  </div>-->
      <!--</div>-->
    </tbody>
  </table>
</center>
<style>
  .calendar-container .head .dayname-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    }
    .calendar-container .head .dayname-container .name-of-days {
    background: #999;
    font-size: 13px;
    color: #fff;
    }
    .calendar-container .calendar-cell .day-label {
    height: 20px;
    border-bottom: 1px solid #d8d8d8;
    }
    .calendar-container .calendar-cell {
    border: 1px solid #d8d8d8;
    width: 14.28571%;
    text-align: center;
    }
    .calendar-cell {width: 101%;
                    text-align: center;}
    .dayname_container {margin-top: 7%;}
    .dayname-calendar-cell {border: 1px solid #999;
                            text-align: center;}
    .day-calendar-cell {border: 1px solid #999;
                        text-align: center;
                        }
  .bongsa-calendar-cell {border:1px solid #999;}
</style>