<%= render :partial => 'home/main_navbar' %>

<div class="row header__top">
      <div calss="col-md-12">
          <form class="navbar-form navbar-right" id="form_s" role="search">
              <!--<button id="search" class="navbar__search__first">검색</button>-->
              <div class="form-group">
                <input type="text" class="navbar__search" name="s_word" id="s_word" onchange="hideIcon(this);" placeholder="ex) 벽화봉사">
              </div>
          </form>
      </div>
    </div>
</br>

<div class="col-md-2">
  <div class="small-calendar-title">
    <span class="prev" ng-click="addMonth(-1)"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></span>
    <span class="current ng-binding" ng-bind="date | date:'yyyy.MM'">2015.09</span>
    <span class="next" ng-click="addMonth(1)"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></span>
  </div>

  <div class="small-calendar">
    <div class="small-calendar-body">
      <div class="dayname-container">
        <div class="row">
          <div class="day-label name-of-days ng-binding ng-scope" ng-bind="dayname" ng-repeat="dayname in kor_daynames">일</div>
          <div class="day-label name-of-days ng-binding ng-scope" ng-bind="dayname" ng-repeat="dayname in kor_daynames">월</div>
          <div class="day-label name-of-days ng-binding ng-scope" ng-bind="dayname" ng-repeat="dayname in kor_daynames">화</div>
          <div class="day-label name-of-days ng-binding ng-scope" ng-bind="dayname" ng-repeat="dayname in kor_daynames">수</div>
          <div class="day-label name-of-days ng-binding ng-scope" ng-bind="dayname" ng-repeat="dayname in kor_daynames">목</div>
          <div class="day-label name-of-days ng-binding ng-scope" ng-bind="dayname" ng-repeat="dayname in kor_daynames">금</div>
          <div class="day-label name-of-days ng-binding ng-scope" ng-bind="dayname" ng-repeat="dayname in kor_daynames">토</div>
        </div>
        <div class="row">
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">30</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">31</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">1</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">2</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">3</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">4</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">5</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">6</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">7</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">8</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">9</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">10</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">11</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">12</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">13</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">14</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">15</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">16</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">17</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">18</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">19</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">20</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">21</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">22</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">23</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">24</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">25</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">26</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">27</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">28</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">29</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">26</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">27</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">28</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">29</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">26</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">27</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">28</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">29</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">26</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">27</div>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">28</div>
        </div>
      </div>
    </div>
  </div>

  
  <!--봉사유형 선택	-->
  
  <div class="bongsa_type_checkbox">
    <div class="row">
  	  <center style="margin-top: 23%;"><p style="font-size:18px; color:white;"><b>봉사활동 유형</b></p></center>
    </div>
    
    <input type="checkbox" name="colorCheckbox" value="check_s" class="s_check" checked> 시작일
    <input type="checkbox" name="colorCheckbox" value="check_f" class="e_check" checked> 마감일
    
    <SCRIPT>
// $(function(){
//   $('#ck' ).on("change",function(){
//     if($("#ck").val() == true){
//       $(".start_date").show()  
//     }else{
//       $(".start_date").hide()
//     }
//   })
//     $("#ck1").on("change",function(){
//     if($("#ck1").val() == true){
//       $(".end_date").show()  
//     }else{
//       $(".end_date").hide()
//     }
//   })
// })
// </SCRIPT>
    <div class="bongsa_checkbox">
      <div class="bongsa_checkbox_list" style="border:1px solid black;">
        <input type="checkbox" class="select_type" class="checking">
      	<div class="circle number1"></div>
      	<!--<img src="/img/teamprofile/circle.png" style="width:7%; height:7%; margin-bottom: 7px; width: 5%; height: 5%; margin-bottom: 4px;"/>-->
      	<span class="select_type_name" style="margin-left:1%;">전체보기</span>
      </div>
      <div class="bongsa_checkbox_list" style="border:1px solid black;">
        <input type="checkbox" class="select_type" class="checking">
      	<div class="circle number2"></div>
      	<!--<img src="/img/teamprofile/circle.png" style="width:7%; height:7%; margin-bottom: 7px; width: 5%; height: 5%; margin-bottom: 4px;"/>-->
      	<span class="select_type_name" style="margin-left:1%;">교육봉사</span>
      </div>
      

    </br>
    </br>
    </br>
    </br>
    
  	<input type="checkbox" class="select_type" class="checking">
  	<div class="circle number1"></div>
  	<p class="select_type_name">전체보기</p>
	
    <input type="checkbox" class="select_type" class="checking">
    <div class="circle number2"></div>
    <p class="select_type_name">교육봉사</p>
    
    <input type="checkbox" class="select_type" class="checking">
    <div class="circle number3"></div>
    <p class="select_type_name">재능봉사</p>
    
    <input type="checkbox" class="select_type" class="checking">
    <div class="circle number4"></div>
    <p class="select_type_name">노력봉사</p>
    
    <input type="checkbox" class="select_type" class="checking">
    <div class="circle number5"></div>
    <p class="select_type_name">해외봉사</p></p>
    
    <input type="checkbox" class="select_type" class="checking">
    <div class="circle number6"></div>
    <p class="select_type_name">기타봉사</p>
    </div>
  </div>  
</div>

<!--봉사유형 선택	-->




<!--봉사세부달력-->

<div class="col-md-10" style="padding-left: 0px; padding-right: 0px;">
  <div class="row">
    <div class="col-md-12" style="background: #502da5; color: white">
      <center><h3 style="margin-bottom: 2%;">2015.10</h3></center>
    </div>
  </div>
  
  <!--하루섹션(날짜&요일)-->
  <div class="row">
    <div class="col-7" style="background: #b29cda; color: white;">
      <center><p class="calendar_date">13</p></center>
      <center><p class="calendar_day">MON</p></center>
    </div>
  <!--하루섹션(날짜&요일) 끝-->
  
  <!--하루섹션(날짜&요일)-->
    <div class="col-7" style="background: #b29cda; color: white;">
      <center><p class="calendar_date">14</p></center>
      <center><p class="calendar_day">TUE</p></center>
    </div>
  <!--하루섹션(날짜&요일) 끝-->
  
  <!--하루섹션(날짜&요일)-->
    <div class="col-7" style="background: #b29cda; color: white;">
      <center><p class="calendar_date">15</p></center>
      <center><p class="calendar_day">WED</p></center>
    </div>
  <!--하루섹션(날짜&요일) 끝-->
  
  <!--하루섹션(날짜&요일)-->
    <div class="col-7" style="background: #b29cda; color: white;">
      <center><p class="calendar_date">16</p></center>
      <center><p class="calendar_day">THU</p></center>
    </div>
  <!--하루섹션(날짜&요일) 끝-->
  
  <!--하루섹션(날짜&요일)-->
    <div class="col-7" style="background: #b29cda; color: white;">
      <center><p class="calendar_date">17</p></center>
      <center><p class="calendar_day">FRI</p></center>
    </div>
  <!--하루섹션(날짜&요일) 끝-->
  
  <!--하루섹션(날짜&요일)-->
    <div class="col-7" style="background: #b29cda; color: white;">
      <center><p class="calendar_date">18</p></center>
      <center><p class="calendar_day">SAT</p></center>
    </div>
  <!--하루섹션(날짜&요일) 끝-->
  
  <!--하루섹션(날짜&요일)-->
    <div class="col-7" style="background: #b29cda; color: white;">
      <center><p class="calendar_date">19</p></center>
      <center><p class="calendar_day">SUN</p></center>
    </div>
  <!--하루섹션(날짜&요일) 끝-->
  </div>
  
  <!--캘린더 안 봉사 내용-->
  
  <div>
    <%1.upto(7) do |i|%>
    <div class="col-7 calendar_content_background" >
      <br>
      <center>
        <p class="calendar_day">
          <%= render partial: "calendar/day_info", :locals => { year: 2015, month: 9, day: i } %>
          내용내용
        </p>
      </center>
    </div>
    <%end%>
    
  <!--  <div class="col-7 calendar_content_background" >-->
  <!--    <br>-->
  <!--    <center><p class="calendar_day">-->
  <!--      내용내용</p></center>-->
  <!--  </div>-->
    
  <!--  <div class="col-7 calendar_content_background" >-->
  <!--    <br>-->
  <!--    <center><p class="calendar_day">내용내용</p></center>-->
  <!--  </div>-->
    
  <!--  <div class="col-7 calendar_content_background" >-->
  <!--    <br>-->
  <!--    <center><p class="calendar_day">내용내용</p></center>-->
  <!--  </div>-->
    
  <!--  <div class="col-7 calendar_content_background" >-->
  <!--    <br>-->
  <!--    <center><p class="calendar_day">내용내용</p></center>-->
  <!--  </div>-->
    
  <!--  <div class="col-7 calendar_content_background" >-->
  <!--    <br>-->
  <!--    <center><p class="calendar_day">내용내용</p></center>-->
  <!--  </div>-->
    
  <!--  <div class="col-7 calendar_content_last" >-->
  <!--    <br>-->
  <!--    <center><p class="calendar_day">내용내용</p></center>-->
  <!--  </div>-->
  <!--</div>-->
</div>
<!--<script>-->
// 시작일, 마감일 조건검색
<!--$(function(){-->
<!--  $('.s_check' ).on("change",function(){-->
<!--    if($(".s_check").is(":checked") == true)-->
<!--    {-->
<!--      $(".start_date").show()  -->
<!--    }-->
<!--    else if($(".e_check").is(":checked") == true)-->
<!--    {-->
<!--      $(".end_date").show()-->
<!--    }-->
<!--    else-->
<!--    {-->
<!--      $(".start_date").hide()-->
<!--      $(".end_date").hide()-->
<!--    }-->
<!--  })-->
<!--    $(".e_check").on("change",function(){-->
<!--    if($(".e_check").is(":checked") == true)-->
<!--    {-->
<!--      $(".end_date").show()  -->
<!--    }-->
<!--    else if($(".s_check").is(":checked") == true)-->
<!--    {-->
<!--      $(".start_date").show()-->
<!--    }-->
<!--    else-->
<!--    {-->
<!--      $(".start_date").hide()-->
<!--      $(".end_date").hide()-->
<!--    }-->
<!--  })-->
<!--})-->

<!--</script>-->
<%= render :partial => 'style/bongsa_calendarcss' %>
<%= render :partial => 'home/main_footer' %>