<%= render :partial => 'main_navbar' %>

<%= render :partial => 'main_header' %>
<div style="display:none" id="tmp"></div>
<div id="main_contents" style="width:100%">
    <%= render :partial => 'main_content' %>
</div>
<%= render :partial => 'main_footer' %>