<%= render :partial => 'main_navbar' %>
<div style="margin:0% 0% 0% 0%;">
  <br><br><br><center><p class="big"><b>착하게 살자</b></p></center><br><br>
  <center><p style="font-size:300px;"><b>봉.사.꾼.</b></p></center><br><br><br><br><br><br><br>
  <center><p style="font-size:120px;"><b>너, 봉사활동 어디까지 해봤니?</b></p></center><br><br><br>
  <center><p style="font-size:300px;"><b>봉.사.꾼.</b></p></center><br><br><br><br><br>
  <center><p class="big"><b>봉사활동 본격 지원 프로젝트</b></p></center><br><br><br>
  <center><p style="font-size:300px;"><b>봉.사.꾼.</b></p></center><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<%= render :partial => 'main_footer' %>
<style>
  .big{
    font-size:180px;
  }
</style>