<h1>My Page</h1>
<form action="/user/mypage_confirm/<%=current_user.id%>">
      새 비밀번호:<input type="password" name="new_password"><br><Br>
      비밀번호 확인:<input type = "password" name="confirm_password"><br><br>
    <input type="submit" value="변경">
  </form>