<form action="/user/user_find_confirm" method:"POST">
  이름: <input type="text" name="name" placeholder="홍길동">
  전화번호<input type="text" name="phonenumber" placeholder="01022223333">
</form>
<p style="color:#ff0000"><%= flash[:error] %></p>