<%= render :partial => 'main_navbar' %>
<ul>
  <li class="team_list">
    <img src="/img/cw.jpg" alt="..." class="img-circle team-photo">
    <div class="row profile">
      <p class="profile_name">이창우</p>
      <p class="profile_content"></p>
    </div>
  </li>
  
  <li class="team_list">
    <img src="/img/jc.jpg" alt="..." class="img-circle team-photo">
    <div class="row profile">
      <p class="profile_name">이재철</p>
      <p class="profile_content">안녕나는 창우라고 해 코딩을 못해...</p>
    </div>
  </li>
    
  <li class="team_list">
    <img src="/img/yj.jpg" alt="..." class="img-circle team-photo">
    <div class="row profile">
      <p class="profile_name">황유정</p>
      <p class="profile_content"></p>
    </div>
  </li>
    
  <li class="team_list">
    <img src="/img/yh.jpg" alt="..." class="img-circle team-photo">
    <div class="row profile">
      <p class="profile_name">김용현</p>
      <p class="profile_content">봉사경력 : 0시간</p>
    </div>
  </li>
  
  <li class="team_list">
    <img src="/img/jy.jpg" alt="..." class="img-circle team-photo">
    <div class="row profile">
      <p class="profile_name">류진이</p>
      <p class="profile_content"></p>
    </div>
  </li>
</ul>




<%= render :partial => 'style/introducecss' %>


<%= render :partial => 'main_footer' %>