<!DOCTYPE html>
<html>
<head>
<!-- 한글패치 -->
  <meta charset="utf-8">
  <title>Do Sth!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- 아이콘용 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


  <!--글씨체 한나체로 변경-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/earlyaccess/hanna.css">
      <style>
        body {
          font-family: 'Hanna', Sans-serif;
        }
      </style>
  
</head>
<body>

<%= yield %>

</body>
</html>
